:root{
    --cor-fundo-pagina: #ff58ab;
    --cor-texto-principal: #ffffff;
}

*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    color:var(--cor-texto-principal);
    background-color:var(--cor-fundo-pagina);
}

.container-pagina{
    width:min(1100px,90%);
    margin:0 auto,
}

.cabecalho-principal{
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, #ff89c4 0%,
    #ff3a9c 60%);
    padding: clamp(2rem, 5vw, 5rem) 0;
}

.cabecalho-principal_titulo{
    font-size: 18pt;
    color: var(--cor-texto-principal);
    margin: 00 1.5rem;
}

.cabecalho-principal_subtitulo{
    font-size: 14pt;
    color: var(--cor-texto-principal);
    margin: 001.5rem;

}

.borda{
    color: #ff89c4;
    height: 40px;
    width: 60%;
    border: 2px rgb(141, 137, 140) solid;
    border-radius: 20px;
    }

.bottom{
    flex-wrap: wrap;
    border-radius: 5px;
    border: color #7ef578;
    background-color:#34992f;
    height: 30px;
    width: 150px;
}